<div class = "green"> A brand new kind of game</div>
<div> Where the rule is not to win but to answer the simple question ... </div>
<div>Are you playing against a human or an AI ?</div>

<div> Join our beta now </div>

<!-- formulaire initial en html pour adresse email 
<%= form_tag "/confirmation", method: "post" do %>
  <input type="text" name="email_adress" placeholder ="email adress"/>
  <input type="submit" value="Join" />
<% end %>
-->

<%= form_for (@email) do |f| %>
	<%= f.text_field :email_adress, placeholder: "email adress" %>
	
	<%= f.submit "Join" %>
<% end %>
